/repos_shelf.db
config/local.conf
repos_shelf.db
.idea
working
chef/.kitchen
chef/aws.json
atlassian-ide-plugin.xml
.virtualenv
__pycache__
*.pyc
.coverage
Distutils.egg-info
*.log
*.tmp
tags
*.html
.DS_Store
htmlcov
_build

node_modules
open_permissions_platform_index_service.egg-info/
